  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
		<div id="user-sign-up-errors" class="alert alert-error" style="display: none;"></div>
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "register"}) do |f| %>
						<div class="col-sm-12">
						<%= f.text_field :name, :class => "form-name", :placeholder => "Full Name" %>
						</div>
						<div class="col-sm-12">                                    
						<%= f.email_field :email, :class => "form-name", :placeholder => "Email Address" %>
						</div>
						<div class="col-sm-12">
						<%= f.password_field :password, :class => "form-name", :placeholder => "Password" %>
						</div>
						<div class="col-sm-12">
						<%= f.password_field :password_confirmation, :class => "form-phone", :placeholder => "Confirm Password" %>
						</div>
						<div class="col-sm-7" style="margin-left:21%;">
						<input type="submit" value="Get started" class="btn">
						</div>
					<% end %>
	<% end %>